* {
    --main-color: #f2a100;
}

body {
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
    font-family: "cairo", sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100000000pc;
    background: #000;
}

a {
    text-decoration: none !important;
}

.active {
    background-color: #0000000a !important;
    position: relative !important;
}

.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

.navbar .navbar-brand {
    width: 250px;
}

.navbar .navbar-collapse {
    flex-grow: 0 !important;
}

.navbar .navbar-collapse .nav-item:not(:nth-of-type(1)) {
    border-left: 1px solid #fff;
}

.navbar .navbar-collapse .nav-link {
    padding: 25px;
}

.navbar .navbar-collapse .nav-link:hover {
    background-color: #0000000a !important;
}

.navbar .navbar-collapse .nav-link::before {
    background-color: var(--main-color);
}

.navbar .icons-container .icon:hover {
    background-color: #0000001f !important;
}