* {
    --main-color: #f2a100;
    --bg-color: #0000000a;
}

body {
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
    font-family: "cairo", sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 9000px;
    background: #000;
}

a {
    text-decoration: none !important;
}

.active {
    background-color: var(--bg-color) !important;
    position: relative !important;
}

.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

.account-collapse .card .active-li {
    background-color: var(--bg-color) !important;
}

.account-collapse .card .active-li a {
    color: var(--main-color) !important;
    text-decoration: underline !important;
}

/* #region navbar */

.navbar {
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
}

.navbar .navbar-brand {
    width: 250px;
}

.navbar .navbar-collapse {
    flex-grow: 0 !important;
}

.navbar .navbar-collapse .nav-item:not(:nth-of-type(1)) {
    border-left: 1px solid #fff;
}

.navbar .navbar-collapse .nav-link {
    padding: 25px;
}

.navbar .navbar-collapse .nav-link:hover {
    background-color: var(--bg-color) !important;
}

.navbar .navbar-collapse .nav-link::before {
    background-color: var(--main-color);
}

.navbar .icons-container .icon-search {
    padding: 7px 11px;
}

.navbar .icons-container .search-collapse {
    right: 195px;
}

.navbar .icons-container .search-bar {
    padding: 12px;
    width: 300px;
    border: 2px solid var(--main-color);
}

.navbar .icons-container .search-bar:focus {
    border: 2px solid var(--main-color);
    outline: 0;
}

.navbar .icons-container .search-bar:hover {
    background-color: var(--bg-color);
}

.navbar .icons-container .search-bar-link {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    padding: 0;
    padding: 13px 10px;
    border: 0;
    border-left: 1px solid var(--main-color);
}

.navbar .icons-container .search-bar-link:hover {
    background-color: var(--bg-color);
    color: var(--main-color) !important;
}

.navbar .icons-container .icon-account {
    padding: 9px;
}

.account-collapse {
    right: 30px !important;
    width: 140px;
}

.account-collapse .card li a {
    color: var(--bs-dark);
}

.account-collapse .card li:hover {
    background-color: var(--bg-color);
}

.account-collapse .card li:hover a {
    color: var(--main-color);
    text-decoration: underline !important;
}

.navbar .icons-container .icon-heart {
    padding: 7px 11px;
}

.navbar .icons-container .icon-shop {
    padding: 7px 12px;
}

.navbar .icons-container .icon:hover {
    background-color: var(--bg-color) !important;
    color: var(--main-color) !important;
}

/* #endregion */

/* start landing */
.landing {
    background-color: #eee5ff;
}

.landing .arrow:hover {
    background-color: #0000001a;
    cursor: pointer;
}

.landing .arrow:hover .right-arrow,
.landing .arrow:hover .left-arrow {
    color: #000;
}